.login-form{
    width: 300px;
    height: 90px;
    border: 1px solid black;
    background-color: #d9d1d7;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.login,.password{
    margin-bottom: 10px;
}
